<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="client.github.trnng"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/flower_activity">
        </activity>
        <activity
            android:name=".activity.ButtonTrnngActivity"
            android:label="@string/button_training_activity">

        </activity>
        <activity
            android:name=".activity.IntentTrnngActivity"
            android:label="@string/intent_training_activity">

        </activity>
        <activity
            android:name=".activity.saveStateActivity"
            android:label="@string/saveState_training_activity">

        </activity>

        <activity
            android:name=".activity.ToastActivity"
            android:label="@string/toast_training_activity">

        </activity>

        <activity
            android:name=".customToast"
            android:label="@string/customToast_activity">

        </activity>

        <activity
            android:name=".activity.CalculateActivity"
            android:label="@string/calculate_activity"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".activity.UiTrnngActivity"
            android:label="@string/calculate_activity">

        </activity>

        <activity
            android:name=".activity.FBUiActivity"
            android:label="@string/calculate_activity">

        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
